* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.container {
    max-width: 956px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-direction: row;

        .header--logo {

        }

        .header--address {
            display: flex;
            flex-direction: row;

            input {
                border: 1px solid #E0E0E0;
                border-radius: 2px;
                padding: 8px 15px;
                font-size: 14px;
                color: #1D1D1D;

                &:first-child {
                    width: 40px;
                }
            }

            p {
                color: #626262;
                font-size: 16px;
                padding: 0 10px;
                display: flex;
                align-items: center;
            }
        }

        .header--buttons {
            display: flex;
            flex-direction: row;
            
            div:first-child {
                display: flex;
                align-items: center;
            }

            div > a:first-child {
                font-size: 13px;
                text-align: center;

                color: #1D1D1D;
                border: 1px solid #E0E0E0;
                display: inline-flex;
                text-decoration: none;
                padding: 8px 15px;
                border-radius: 2px;
                margin: 0 8px;
            }

            a:nth-child(2) {
                font-size: 13px;
                text-align: center;

                background: #262626;
                color: #fff;
                display: inline-flex;
                text-decoration: none;
                padding: 8px 15px;
                border-radius: 2px;
                margin: 0 8px;
            }

            .header--cart {
                display: inline;

                svg {
                    width: 40px;
                    height: 70px;
                }
            }
        }
    }
}

.search {
    margin-top: 40px;

    .header--address {
        display: none;
    }

    .search--block {
        display: grid;
        grid-template-columns: 22px auto;

        svg {
            border-bottom: 1px solid #757575;
            padding: 10px 0;
        }

        input {
            color: #626262;
            border: 0;
            font-size: 16px;
            border-bottom: 1px solid #757575;
            padding: 10px;
        }
    }
}

.shops {
    margin-top: 60px;
    padding-bottom: 100px;

    .shops--title h1 {
        font-size: 22px;
        color: #1D1D1D;
        margin-bottom: 20px;
        font-style: normal;
        font-weight: normal;
    }

    .shops--blocks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .shops--block {
            img {
                width: 100%;
            }

            a {
                margin-top: 16px;
                line-height: 24px;
                font-size: 16px;
                color: #1D1D1D;
                display: block;
                text-decoration: none;
            }

            p.block__desc {
                line-height: 21px;
                font-size: 14px;
                color: #626262;
                margin-top: 5px;
            }

            p.block__time {
                line-height: 21px;
                font-size: 13px;
                color: #1D1D1D;
                margin-top: 5px;
            }
        }
    }
}

footer {
    background: #262626;

    .footer {
        margin: 0;
        padding-top: 20px;

        .logo {
            padding: 40px 0;
            width: 100%;
            border-bottom: 1px solid #FFFFFF;
        }

        .full_name {
            padding: 30px 0;
            border-bottom: 1px solid #FFFFFF;
            display: grid;
            grid-template-columns: 227px 1fr 1fr;
            grid-gap: 30px;

            .column {
                .select {
                    background: #3B3B3B;
                    border-radius: 2px;
                    padding: 12px 10px;
                    display: grid;
                    grid-template-columns: 32px auto 28px;

                    svg:first-child {
                        display: flex;
                        align-items: center;
                    }

                    p {
                        color: #fff;
                        text-transform: uppercase;
                    }

                    svg:last-child {
                        display: flex;
                        align-items: center;
                        padding-top: 6px;
                    }
                }

                p.tag {
                    font-size: 16px;
                    color: #fff;
                    margin-top: 30px;

                    span {
                        color: #49A144;
                    }
                }

                span.social {
                    display: block;
                    margin-top: 15px;

                    svg {
                        margin: 0 5px;
                    }
                }

                ul {
                    list-style-type: none;

                    li {
                        display: flex;

                        a {
                            color: #fff;
                            font-size: 13px;
                            margin: 15px 0;
                            display: block;
                            text-decoration: none;
                        }
                    }
                }

                &:nth-child(2) {
                    margin-left: 80px;
                }
            }
        }

        .download_link {
            padding: 40px 0;
            display: flex;
            justify-content: center;
            border-bottom: 1px solid #FFFFFF;

            svg {
                margin: 0 20px;
            }
        }

        .footer-copyright {
            display: grid;
            grid-template-columns: 227px 1fr 1fr;
            grid-gap: 30px;
            padding: 40px 0;

            p {
                font-size: 11px;
                color: #FFFFFF;
            }

            a {
                text-decoration: none;
                font-size: 11px;
                color: #FFFFFF;
                display: block;
            }

            a:nth-child(2) {
                margin-left: 80px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
.header {
    justify-content: space-around !important;

    .header--logo {
        margin-right: 20px;
    }

    .header--buttons {
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
    }
}

.shops .shops--blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer .footer .full_name .column:nth-child(2) {
    margin-left: 40px;
}

footer .footer .footer-copyright a:nth-child(2) {
    margin-left: 40px;
}
}

@media only screen and (max-width: 320px) {
    .container {
        padding: 0 5px;
    }
    .header {
        justify-content: flex-start !important;
        align-content: center !important;
        height: 72px;
    
        .header--logo {
            margin-right: 5px;
        }

        .header--address {
            display: none !important;
        }
    
        .header--buttons {
            display: flex;
            justify-content: flex-end;
            align-content: flex-end;

            .header--cart {
                display: none !important;
            }
        }
    }
    
    .shops .shops--blocks {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    footer .footer .footer-copyright a:nth-child(2) {
        margin-left: 0px;
    }

    footer .footer .full_name {
        grid-template-columns: 1fr !important;

        .column:nth-child(2) {
            margin-left: 0px !important;
        }
    }

    footer .footer .footer-copyright {
        grid-template-columns: 1fr !important;
    }

    .search {
        .header--address {
            display: grid;
            grid-template-columns: 72px auto;
            grid-gap: 10px;
            padding-top: 20px;

            .form {
                p {
                    font-size: 11px;
                    color: #626262;
                    text-align: left;
                    margin-bottom: 8px;
                }

                input {
                    border: 1px solid #E0E0E0;
                    border-radius: 2px;
                    padding: 8px 15px;
                    font-size: 14px;
                    color: #1D1D1D;
    
                    &#small {
                        width: 40px;
                    }
                }
            }
        }
    }
}